<div class="user-info-container">
    <h2>User Info</h2>
  
    <table class="user-table">
      <thead>
        <tr>
          <th>User Id</th>
          <th>Phone</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.uid }}</td>
          <td>{{ user.mobile ? user.mobile : 'XXXXXXXXXX' }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  